

html, body {
 height:100%;
 background-color: #e0ccb1;
 font-family: 'Crete Round', serif;
}

h1{
	font-size: 30px;
}

.card{
	background-color: #d2918c;
	width: 55%;
	margin-left: 20%;
	margin-top: 15%;
	margin-bottom:15%;
	padding: 20px;
	border-style: dotted;
	border-width: 4px;
	border-color: black;
	position:absolute; 
	z-index: 5;
}

.thanks{
	text-align: center;
}

.background{
	background-color: #f3ebe1;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	position:absolute;
	z-index: 1;
	width: 60%;
	height: 300px;
	margin-left: 20%;
	margin-top: 15%;
	-webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}